<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pokemons</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<% if (locals.listadoPokemons !== undefined ) { %>
		<ol>
		<% for (let i = 0; i < listadoPokemons.length; i++) { %>
			<li>
				<h4><%= listadoPokemons[i].name %> </h4>
				<a href="<%= listadoPokemons[i].url %>" target="_blank">ver más</a>
			</li>
		<% } %>
		</ol>
	<% } %>	

	<%- include('./partials/footer'); -%>

</body>
</html>